.container-all {
    --max-width: 1000px;
    --container-padding: 1.5rem;
    
    width: min(var(--max-width), 100% - var(--container-padding)*2);
    margin-inline: auto;
}

.active{
    border-bottom: 4px solid #FD6D29;
    font-weight: bold;
}

.layout-grid{
    display:grid;
    grid-template-columns: .1fr .4fr .6fr;
    grid-template-rows: 25px 90px 220px 15px;

    --gap: 35px;
    row-gap: var(--gap);
    column-gap: 25px;
}

.one{
    grid-column: 2/3;
    grid-row: 1/3;
}

.two{
    grid-column: 1/3;
    grid-row: 3/5;
}

.three{
    grid-column: 3/4;
    grid-row: 2/4;
}

.img-wrap>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4%;       
}

.flow>*+* {
    margin-top: 1em;
}
/*faqs*/
.FAQs{
    display: grid;
    grid-auto-flow: column;
    align-items:center;
    justify-content: space-between; 
}


/*footer*/
/* input:where([type="email"]) {
width: max(100%, 14rem);
} */

.footer-logo {
    grid-area: logo;
    margin-inline: auto;
} 

.footer-form {
    grid-area: form;
    margin-bottom: 20px;
}

.footer-list {
    grid-area: list;
}

.footer-copyright {
    grid-area: copyright;
    margin-top: 50px;
    text-align: center;
}

.footer-social {
    grid-area: social;
    margin-inline: auto;
    margin-block: 40px;
}

.footer-wrap {
    display: grid;
    justify-content: center;
    column-gap: 4rem;
    grid-template-areas:
        "form"
        "list"
        "social"
        "logo"
        "copyright";
}


@media (min-width: 43.375em){
.footer-logo{
    margin-inline: 0;
}

.footer-form {
    margin-bottom: 0;
}

.footer-copyright {
    margin-top: 0;
    text-align: left;
}

.footer-social {
    margin-inline: 0;
    margin-block: 0;
}

    .footer-wrap {
        grid-template-areas:
            
            "logo list form "
            "copyright list form"
            "social list form";
            
    }       
}


